.menu-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 7;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  &.is-open .icon-cross {
    display: block;
    position: fixed;
  }
  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  padding: 48px 40px;
  text-align: left;
  z-index: 2;

  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-nav__link--current.link {
    color: var(--accent-blue);
}

.mobile-menu__phone {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.mobile-menu__email {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;

  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.mobile-menu__social-media {
  display: flex;
  margin-top: 64px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;

  @media screen and (min-width: 480px) {
    font-size:22px;
  }
}

.mobile-menu__social-media {
  margin-bottom: 48px;
}

.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-item:not(:first-child) {
  padding-left: 10px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
